.footer, .item {
  align-items: baseline;
  display: flex;
  height: inherit;
}

.logo {
  position: relative;
  top: 30px;
  width: 260px;
}

.logo__label {
  position: relative;
  left: 8px;
}

.list__header {
  align-items: center;
  display: flex;
  height: 50px;
}

.list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-height: 120px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 200px;
}

.controls {
  flex-direction: column;
}