.App {
  text-align: center;
  background-color: #f7f9fb;
}

.App-header, .App-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-header {
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  height: 80px;
}

.App-footer {
  height: 215px;
}

.border-elem{
  border: 1px solid #f4f4f4;
  display: flex;
  height: 80px;
}

.Navigation {
  align-items: center;
  display: flex;
  height: inherit;
  list-style: none;
  padding: 0;
}

.App-main__content{
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  flex-direction: row;
  font-family: 'Gotham Pro';
  justify-content: center;
  padding: 40px 0px;
}

.center__content-block, .side__content-block{
  display: flex;
  border-radius: 4px;
  flex-direction: column;
}

.side__content-block{
  display: flex;
  position: relative;
  left: 40px;
  width: 290px;
}

@font-face {
  font-family: Gotham Pro;
  src: url("fonts/GothamPro.ttf") format("truetype");
}